.app-container {
  text-align: center;
  background: url("../assets/bg.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  min-height: 100vh;
  font-size: 14px;
  color: white;
  position: relative;

  .primary-button {
    border: 10px;
    font-family: inherit;
    color: black;
    cursor: pointer;
    margin: 10px;
    padding: 5px 15px;
    outline: none;
    font-size: inherit;
    line-height: 36px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: transparent;
    border: 1px solid grey;

    &:hover {
      background-color: #9bd0e6;
    }
    &.small {
      float: left;
      margin: 5px;
      padding: 5px 10px;
      line-height: normal;
    }
  }

  .intro-wrapper {
    padding: 15px;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.label-lite {
  color: #8c8a8a;
}

.line {
  color: #015dbc;
  margin: auto;
  border-right: 2px solid rgb(1, 93, 188);
  font-size: 130%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-34%);
}

/* Animation */
.animate-line {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(23, 96, 231, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media only screen and (max-width: 1199px) {
  .line {
    font-size: 100%;
  }
}

@media only screen and (max-width: 999px) {
  .line {
    font-size: 98%;
  }
}

@media only screen and (max-width: 768px) {
  .intro-wrapper button {
    min-width: 200px;
  }
  .line {
    font-size: 105%;
  }
}
